.main-container-hooks,
.main-container-hooks > h2 {
  color: white;
}

.info {
  padding: 15px;
  background-color: white;
  border-left: 6px solid rgb(46, 223, 61);
}

.info > h2 {
  text-align: center;
}

.exercise-box {
  color: white;
  border-radius: 1.5px solid white;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.preview {
  padding: 10px;
  background-color: white;
  border-top: 1.5px solid rgba(0, 0, 0, 0.425);
}

.flex {
  display: "flex";
}

.justify-center {
  justify-content: center;
}

.color-white {
  color: white;
}
