.button {
  border-radius: 4px;
  background-color: rgb(3, 126, 241);
  color: white;
  outline: none;
  border: none;
  margin: 5px;
  padding: 5px;
}

.input-area {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  margin: auto;
}

.input-area label {
  font-weight: 600;
}

.input-area input {
  max-width: 50%;
}
