@import "tailwindcss";

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 200;
}

h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
}
